{% extends 'base.html' %}
{% load static %}


{% block title %}TechnoKB - {{product.name}} {% endblock %}
{% block body %}
<div class="container py-5">

    <div>
        <p>
            <a href="Продукты">Продукты</a>
            {% for parent in product.category.get_ancestors %}
            / {{ parent.name }}
            {% endfor %}
            / <a href="/products?category={{product.category.id}}">{{product.category.name}}</a>
        </p>
    </div>
    <h1>{{product.name}}</h1>
    <p class="text-secondary small">В наличии: {{product.count}} шт</p>
    {% if cover %}
    <div class="product-cover bg-dark product-cover-full">
        <img class="product-cover-img" src="{{cover.image.url}}" alt="">
    </div>
    {% endif %}


    {% for image in images %}
    <img src="{{ image.image.url }}" alt="{{ product.name }}" width="200px">
    {% endfor %}

    <p class="text-pre-wrap">  {{product.description}}</p>
    <hr>
    <h2 class="h4">Дополнительно: </h2>
    <ul>
        <li>📍 Адрес: <a href="/#adress" class="text-danger">Кара-Балта, Карла Маркса 21</a></li>
        <li>✅ 14 дней гарантия</li>
        <li>🚚 Доставка по Кыргызстану</li>
        <li>💰 Скидки при оптовых покупках</li>
        <li>📝 Система лояльности для постоянных клиентов</li>
    </ul>

    <h2 class="h4 mt-5">Смотрите похожее</h2>

    <!-- <div class="row">
        {% for product in products %}
        <div class="col-3 p-1">
            <a href="/products/{{product.id}}" class="card">
                <div class="card-img-top rectangle bg-dark"></div>
                <div class="card-body">
                    <h3 class="card-title text-danger mb-0 fw-bold">16 000 сом</h3>
                    <small class="text-secondary">{{product.category.name}}</small>
                    <p class="mt-2">{{product.name}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div> -->

</div>
{% endblock %}