{% extends 'base.html' %}
{% load static %}


{% block title %}TechnoKB - {{product.name}} {% endblock %}
{% block body %}
<div class="container py-5">

    <div>
        <p>
            <a href="/products">Продукты</a>
            {% for parent in product.category.get_ancestors %}
            / {{ parent.name }}
            {% endfor %}
            / <a href="/products?category={{product.category.id}}">{{product.category.name}}</a>
        </p>
    </div>
    <div class="btn btn-warning" style="float: right;">{{product.price}} сом</div>
    <h1>{{product.name}}</h1>

    <p class="text-secondary small">В наличии: {{product.count}} шт</p>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            {% if cover %}
                <div class="product-cover product-cover-full">
                    <img src="{{cover.image.url}}" class="product-cover-img img-fluid rounded shadow zoom-image" data-toggle="modal" data-target="#imageModal" alt="">
                </div>

                <div class="modal fade" id="imageModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <img src="{{cover.image.url}}" class="img-fluid rounded" alt="Zoomed">
                        </div>
                    </div>
                </div>
            {% endif %}


            {% for image in images %}
                <img src="{{ image.image.url }}" alt="{{ product.name }}" width="200px">
            {% endfor %}
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <p class="text-pre-wrap my-3 my-md-0">{{product.description}}</p>
            {% if product.description|length < 150  %}
                <br>
                ✅ Гарантия: 1 месяц<br>
                ✅ Официальный чек, имеется налоговая регистрация<br><br>
                {% if product.price > 5000 %}
                    🏦 Возможна рассрочка через мплюс или без участия банка<br>
                    🚚 Бесплатная доставка по Кыргызстану
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if product.description|length >= 150 %}
        ✅ Гарантия: 1 месяц<br>
        ✅ Официальный чек, имеется налоговая регистрация<br><br>
        {% if product.price > 5000 %}
            🏦 Возможна рассрочка через мплюс или без участия банка<br>
            🚚 Бесплатная доставка по Кыргызстану
        {% endif %}
    {% endif %}
    

    


    <!-- <h2 class="h4 mt-5">Смотрите похожее</h2> -->

    <!-- <div class="row">
        {% for product in products %}
        <div class="col-3 p-1">
            <a href="/products/{{product.id}}" class="card">
                <div class="card-img-top rectangle bg-dark"></div>
                <div class="card-body">
                    <h3 class="card-title text-danger mb-0 fw-bold">16 000 сом</h3>
                    <small class="text-secondary">{{product.category.name}}</small>
                    <p class="mt-2">{{product.name}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div> -->

</div>
{% endblock %}