{% extends 'base.html' %}
{% load mptt_tags %}


{% load static %}

{% block body %}
<header class="home-header bg-dark text-white py-5">
    <div class="home-header-container container py-5">
        <h2 class="small fw-bold text-danger">КОМПЬЮТЕРЫ, НОУТБУКИ, КОМПЛЕКТУЮЩИЕ, АКСЕССУАРЫ</h2>
        <h1 class="mb-3">Компьютерный магазин<br>в Кара-Балта</h1>
        <p class="mb-4">Телефон: <a class="underline" href="tel:+96553224265">+96553224265</a></p>
        <a href="https://wa.me/+996553224265" target="_blank" class="btn btn-danger">Связаться</a>
    </div>
</header>

<div class="container my-5">
    <h2>Услуги</h2>
    <p class="mb-0">Выбранная категория: <span class="text-danger">Телефоны</span> <a href=""
            class="underline"><small>(сбросить)</small></a></p>


   

</div>

<div class="container my-5">
    <div class="d-flex justify-content-between">
        <h2>Услуги</h2>
        {% for service in services %}
            <p>{{service.title}}</p>
            <p>{{service.category}}</p>
            <p>{{service.description}}</p>
            <img src="{{service.image.url}}" width="400">
            <p>{{service.price}}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}